<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="usingSsl" value="false"/>
		<add key="usingSmtp" value="false"/>
	</appSettings>
	<system.web>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
    -->
		<compilation defaultLanguage="c#" debug="false"/>
		<!--  CUSTOM ERROR MESSAGES
          Set mode="on" or "remoteonly" to enable custom error messages, "off" to disable. Add
          <error> tags for each of the errors you want to handle.
    -->
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"/>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
		<authentication mode="Forms">
			<forms name="ASSIGNMGRSECURITYCOOKIE" loginUrl="Login.aspx" protection="Encryption" requireSSL="false"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<!--
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
	-->
		<trace enabled="false"/>
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<!-- 
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" /> 
    -->
		<sessionState mode="Off"/>
		<!--  PREVENT SOURCE CODE DOWNLOAD
          This section sets the types of files that will not be downloaded. As well as entering
          a httphandler for a file type, you must also associate that file type with the aspnet_isapi.dll
          in the App Mappings property of the web site, or the file can be downloaded.
          It is recommended that you use this section to prevent your sources being downloaded.
    -->
		<httpHandlers>
			<add verb="*" path="*.vb" type="System.Web.HttpNotFoundHandler,System.Web, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<add verb="*" path="*.cs" type="System.Web.HttpNotFoundHandler,System.Web, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<add verb="*" path="*.vbproj" type="System.Web.HttpNotFoundHandler,System.Web, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<add verb="*" path="*.csproj" type="System.Web.HttpNotFoundHandler,System.Web, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<add verb="*" path="*.webinfo" type="System.Web.HttpNotFoundHandler,System.Web, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</httpHandlers>
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<!--  Set application timeout to a very large value in order to allow 
          lengthy database operations to complete.
    -->
		<httpRuntime executionTimeout="300000"/>
		<pages validateRequest="false"/>
		<machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" validation="3DES"/>
	</system.web>
	<runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v1.0.3705">
	<dependentAssembly>
		<assemblyIdentity name="Accessibility" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="cscompmgd" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="7.0.3300.0-7.0.9999.9999" newVersion="7.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="CustomMarshalers" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="7.0.3300.0-7.0.9999.9999" newVersion="7.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="IEExecRemote" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="IEHost" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="IIEHost" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="ISymWrapper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="Microsoft.JScript" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="7.0.3300.0-7.0.9999.9999" newVersion="7.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="Microsoft.VisualBasic.Compatibility.Data" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="7.0.3300.0-7.0.9999.9999" newVersion="7.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="Microsoft.VisualBasic.Compatibility" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="7.0.3300.0-7.0.9999.9999" newVersion="7.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="7.0.3300.0-7.0.9999.9999" newVersion="7.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="Microsoft.VisualBasic.Vsa" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="7.0.3300.0-7.0.9999.9999" newVersion="7.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="Microsoft.VisualC" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="7.0.3300.0-7.0.9999.9999" newVersion="7.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="Microsoft.Vsa" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="7.0.3300.0-7.0.9999.9999" newVersion="7.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="Microsoft.Vsa.Vb.CodeDOMProcessor" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="7.0.3300.0-7.0.9999.9999" newVersion="7.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="Microsoft_VsaVb" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="7.0.3300.0-7.0.9999.9999" newVersion="7.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="mscorcfg" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="mscorlib" publicKeyToken="b77a5c561934e089" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="Office" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="7.0.3300.0-7.0.9999.9999" newVersion="7.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="Regcode" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Configuration.Install" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.DirectoryServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Drawing.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.EnterpriseServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Management" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Messaging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Runtime.Remoting" publicKeyToken="b77a5c561934e089" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Runtime.Serialization.Formatters.Soap" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Security" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.ServiceProcess" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Web.RegularExpressions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="System.Web.Mobile" publicKeyToken="b77a5c561934e089" culture="neutral"/>
		<bindingRedirect oldVersion="1.0.3300.0-1.0.9999.9999" newVersion="1.0.3300.0"/>
	</dependentAssembly>
	</assemblyBinding></runtime></configuration>
